<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="https://scontent.cdninstagram.com/v/t1.15752-9/318643621_6507384135943324_4254347630483602071_n.jpg?stp=dst-jpg_p240x240&_nc_cat=105&ccb=1-7&_nc_sid=5a057b&_nc_ohc=kJI2yE1b9H4AX-uxwXs&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.cdninstagram.com&oh=03_AdRoGxYdvNGK_Q4zyhjMrOC4VGHxSvb97SFFi_G6OciI0A&oe=63B70D5C" class="img-fluid" id="fotoperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Lourdes Agustina Lacuadra</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-2 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>A cerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nisi soluta, minima vel quisquam, tenetur quaerat ab quidem quo vitae quasi aperiam, officia totam! Amet ea doloribus consequatur temporibus! Facere!</p>
            </span>
        </div>
</div>
